<div *ngIf="haveUsername && !haveError && isReady" class="container" id="main">
    <div class="box-title">
        <h1>Lobby</h1>
    </div>
    <div class="playerList">
        <mat-list>
            <div mat-subheader>Joueurs :</div>
            <mat-list-item>
                <span class="material-icons">
                    star_outline
                </span>
                <div mat-line>{{ adminName }}</div>
            </mat-list-item>
            <mat-list-item *ngFor='let player of playerNames | slice:1'>
                <div mat-line>{{ player }}</div>
            </mat-list-item>
        </mat-list>
    </div>
    <div *ngIf="currentPlayers != playersNum" class="infos">
        <span>En attente de joueurs... ({{currentPlayers }}/{{ playersNum }})</span>
        <mat-progress-spinner diameter="25" color="accent" mode="indeterminate" value="100">
        </mat-progress-spinner>
    </div>
    <div *ngIf="currentPlayers == playersNum" class="infos">
        <span>La partie peut maintenant commencer.</span>
    </div>
    <div class="copyLink">
        <mat-form-field>
            <mat-label>Lien :</mat-label>
            <input matInput [value]="linkUrl">
        </mat-form-field>
        <button mat-raised-button color="accent" [cdkCopyToClipboard]="linkUrl">Copier l'invitation</button>
    </div>
    <div *ngIf="isAdmin" class="play">
        <button mat-raised-button color="primary" [disabled]="currentPlayers != playersNum" (click)="launchTheGame()">Jouer !</button>
    </div>
</div>

<div *ngIf="!haveUsername && !haveError" id="main" class="container">
    <div class="title">
        <h1>Rejoindre la partie</h1>
        <form [formGroup]="setYourNameForm" (ngSubmit)="submitForm()">
            <mat-form-field>
                <mat-label>Pseudo :</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <button type="submit" class="submit" mat-raised-button color="accent">Rejoindre !</button>
        </form>
    </div>
</div>

<div *ngIf="haveError && isReady" class="container" id="main">
    <h1>Oops... Something went wrong</h1>
    <p>{{ messageError }}</p>
</div>


<div class="container" id="spinner" *ngIf="!isReady && haveUsername">
    <mat-progress-spinner diameter="100" color="accent" mode="indeterminate" value="100">
    </mat-progress-spinner>
</div>