<div class="container" id="main">
    <div class="box-title">
        <h1>Lobby</h1>
    </div>
    <div class="playerList">
        <mat-list>
            <div mat-subheader>Players :</div>
            <mat-list-item>
                <span class="material-icons">
                    star_outline
                </span>
                <div mat-line>{{ adminName }}</div>
            </mat-list-item>
        </mat-list>
    </div>
    <div *ngIf="currentPlayers != playersNum" class="infos">
        <span>Waiting for people to join... ({{currentPlayers }}/{{ playersNum }})</span>
        <mat-progress-spinner diameter="25" color="accent" mode="indeterminate" value="100">
        </mat-progress-spinner>
    </div>
    <div class="copyLink">
        <mat-form-field>
            <mat-label>Invitation link :</mat-label>
            <input matInput [value]="linkUrl">
        </mat-form-field>
        <button mat-raised-button color="accent" [cdkCopyToClipboard]="linkUrl">Copy invitation</button>
    </div>
    <div class="play">
        <button mat-raised-button color="primary" [disabled]="currentPlayers != playersNum">Play !</button>
    </div>
</div>