<div class="container" id="main">
    <div class="authentification-container">
        <form [formGroup]="loginForm" (ngSubmit)="connectionForm()">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" maxlength="20" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Mot de passe</mat-label>
                <input type="password" matInput formControlName="password" maxlength="32" required>
            </mat-form-field>
            <button type="submit" class="submit" mat-raised-button color="accent">Connexion</button>
        </form>
    </div>
</div>
