<div *ngIf="isReady && !haveError" id="mainContent">
    <div class="gameContent">
        <div class="title">
            <h2>Partie en cours</h2>
        </div>
        <div class="yourWord">
            <span>Ton mot : {{ myWord }}</span>
        </div>
        <div class="players">
            <div *ngFor="let player of listPlayers; let index = index;" class="player {{ player.username | replaceSpaceByDash }}" [ngClass]="[ username == player.username ? 'myPlayer' : '' ]">
                <div *ngIf="isVoteTime" class="voteCpt animation-target">
                    <div>
                        <span>{{ player.vote }}</span>
                    </div>
                </div>
            <div class="avatar" (click)="voteForThisPlayer(index)">
                    <span class="material-icons">
                        face
                    </span>
                </div>
                <div>
                    <h3>{{ player.username }}</h3>
                </div>
                <div>
                    <h4>Words :</h4>
                    <mat-list class="wordProposal">
                    </mat-list>
                </div>
            </div>
        </div>
        <div *ngIf="!isVoteTime" class="wordSender">
            <form [formGroup]="sendWordForm" (ngSubmit)="submitWordForm()" autocomplete="off">
                <mat-form-field>
                    <input id="wordInput" type="text" matInput formControlName="word" placeholder="Envois ton mot..." autocomplete="off" maxlength="36">
                </mat-form-field>
                <button type="submit" class="submit" mat-raised-button color="accent" [disabled]="!isMyTurn">
                    <span class="material-icons">
                        send
                    </span>
                </button>
            </form>
            <div>
                <span *ngIf="isMyTurn">C'est à ton tour de jouer !</span>
                <span *ngIf="!isMyTurn">C'est au tour de {{ currentPlayer }} de jouer.</span>
            </div>
        </div>
        <div *ngIf="isVoteTime" class="voteMessage">
            <span>Vote pour celui que tu penses être l'Undercover !</span>
        </div>
    </div>
    <div class="chat">
        <div>
            <h3>Chat</h3>
        </div>
        <div class="messages">
            <mat-list id="messagesList">
                <!-- Messages will be insert here -->
            </mat-list>
        </div>
        <div class="write">
            <form [formGroup]="sendMessageForm" (ngSubmit)="submitChatForm()" autocomplete="off">
                <mat-form-field>
                    <input id="messageInput" type="text" matInput formControlName="message" placeholder="Ecris ton message ici..." autofill='false' autocomplete="off" maxlength="128">
                </mat-form-field>
                <button type="submit" class="submit" mat-raised-button color="accent">
                    <span class="material-icons">
                        send
                    </span>
                </button>
            </form>
        </div>
    </div>
</div>

<div *ngIf="haveError" class="container" id="main">
    <h1>Oups... Une erreur est survenue</h1>
    <p>{{ messageError }}</p>
</div>


<div class="container" id="spinner" *ngIf="!isReady && !haveError">
    <mat-progress-spinner diameter="100" color="accent" mode="indeterminate" value="100">
    </mat-progress-spinner>
</div>