#mainContent {
    height: 87.5vh;
    display: flex;
}

#main {
    margin-top: 50px;
}


/*------------- GAME BOARD ------------*/

.gameContent {
    width: 70vw;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.title h2 {
    font-size: 40px;
}

.avatar .material-icons {
    font-size: 70px;
}

.players {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 50px;
}

.players h4 {
    margin-bottom: 15px;
}

.player{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.voteCpt{
    background-color: darkgreen;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: default;
}

.player h3 {
    font-weight: bold;
}

.myPlayer .avatar {
    color: green;
}

.playerTurn{
    font-size: 20px;
}

.mat-list-base .mat-list-item{
    height: auto;
}

.wordProposal{
    height: 100px;
}

.wordSender {
    align-self: center;
    text-align: center;
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
}

.wordItem{
    text-align: center;
    margin-bottom: 15px;
}

.voteMessage {
    text-align: center;
    font-size: 20px;
}

#voteButton{
    margin-top: 20px;
}

.write .material-icons,
.wordSender .material-icons {
    color: white;
}

.yourWord {
    text-align: center;
    margin-bottom: 50px;
    font-size: 25px;
}

.reveal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    height: 500px;
}

.reveal h1{
    font-size: 40px;
    margin-bottom: 50px;
}

.reveal div{
    margin-bottom: 50px;
}


/* ------------ CHAT CSS ------------ */

.chat {
    width: 30vw;
    height: 550px;
    margin: 50px 30px 30px 30px;
    border: solid 1px #C9C9C9;
    display: flex;
    flex-direction: column;
}

.chat h3 {
    margin-top: 15px;
    text-align: center;
}

.messages {
    height: 500px;
    max-width: 100%;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.myMessage {
    color: #C9C9C9;
    text-align: right;
}

.write {
    height: 17%;
    width: 100%;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-top: solid 1px #c3c3c3;
}

form {
    flex-direction: row;
    align-items: inherit;
    padding-top: inherit;
}

mat-form-field {
    width: 90%;
}

.voteMessage{
    color: darkgreen;
}

.myMessage{
    color: darkgrey;
}

.submit {
    width: 10%;
    height: 40px;
}

@media screen and (max-width: 850px) {
    #mainContent {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .gameContent {
        width: inherit;
        border-bottom: 1px solid #c3c3c3;
        padding-bottom: 50px;
    }
    .chat {
        width: inherit;
        height: 40vh;
    }
    .write {
        height: 12vh;
    }

    .wordSender{
        padding-left: 15%;
        padding-right: 15%;
    }
}