#mainContent {
    height: 79vh;
    display: flex;
}

#main {
    margin-top: 50px;
}


/*------------- GAME BOARD ------------*/

.gameContent {
    flex: 2;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    margin-bottom: 50px;
}

.title h2 {
    font-size: 40px;
}

.avatar .material-icons {
    font-size: 70px;
}

.players {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 50px;
}

.players h4 {
    margin-bottom: 0;
}

.player h3 {
    font-weight: bold;
}

.myPlayer {
    background-color: green;
}

.wordSender {
    align-self: center;
}

.write .material-icons,
.wordSender .material-icons {
    color: white;
}

.yourWord {
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
}


/* ------------ CHAT CSS ------------ */

.chat {
    flex: 1;
    margin: 50px 30px 50px 30px;
    border: solid 1px #C9C9C9;
    display: flex;
    flex-direction: column;
}

.chat h3 {
    text-align: center;
}

.messages {
    height: 70%;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.myMessage {
    color: #C9C9C9;
    text-align: right;
}

.write {
    height: 10%;
    width: 100%;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-top: solid 1px #c3c3c3;
}

form {
    flex-direction: row;
    align-items: inherit;
    padding-top: inherit;
}

mat-form-field {
    width: 90%;
}

.submit {
    width: 10%;
    height: 40px;
}