<div *ngIf="!confirmWordAdd" class="container" id="main">
    <div class="addWord-container">
        <div class="title">
            <h1>Créer une paire de mots</h1>
        </div>
        <div>
            <form [formGroup]="addWordForm" (ngSubmit)="addWordSubmit()">
                <mat-form-field>
                    <mat-label>Mot 1</mat-label>
                    <input matInput formControlName="firstWord" maxlength="20" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Mot 2</mat-label>
                    <input matInput formControlName="secondWord" maxlength="20" required>
                </mat-form-field>
                <button type="submit" class="submit" mat-raised-button color="accent">Envoyer</button>
            </form>
        </div>
        <div class="messageError">
            <span *ngIf="errorFlag">{{ messageError }}</span>
        </div>
    </div>
</div>
<div *ngIf="confirmWordAdd" id="main" class="container">
    <div class="confirmContainer">
        <h1>Merci ! Tu viens d'ajouter une nouvelle partie.</h1>
        <button class="returnButton" mat-raised-button (click)="returnToAddWord()">Retour</button>
    </div>
</div>