<div id="main" class="container">
    <h1>Règles du jeu</h1>
    <p>Créer une nouvelle partie et invitez vos amis à vous rejoindre.<br> Chacun des joueurs reçois un mot qu'il ne doit en aucun cas divulguer ! Un des joueurs reçoit un mot différents des autres, il est l'Undercover. Le mot de l'Undercover à cependant
        une signification très proche de celui des autres joueurs.<br>A tour de rôle et ce pendant 3 tours, chacun des joueurs va envoyer un mot en rapport avec celui qu'il possède. Les joueurs penvent se concerter entre eux à tout moment dans le chat.
        A la fin des 3 tours, chacun des joueurs va pouvoir voter pour celui qu'il pense être l'Undercover !</p>
</div>